body{
    background-color: black;
}
h1{
    color: white;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}
div{
    text-align: center;
}
p{
    color: white;
    font-family: "Libre Baskerville", serif;
    font-size: 16px;
}
#image{
    border: 5px solid white;
    margin-top: 75px;
    width:50%;
}